[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pip = "*"

[packages]
scipy = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
flask = "*"
bokeh = "*"
biplist = "*"
astropy = "*"
ipython = "*"

[requires]
python_version = "3.7"
